@import '../../css/styleVariables';

.Header {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(52, 65, 96, 0.1);

  .CategoryName {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #121212;
  }

  &.FunctionalPage {
    left: 114px;
    padding: 0 0 11px;

    .SiteWrap {
      max-width: none;
      height: 84px;
    }
  }

  .SiteWrap {
    display: flex;
    height: 102px;
    //max-width: 1440px;
    width: 100%;
    max-width: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 37px 0 30px;
    position: relative;
    z-index: 1;
  }

  .Left {
    display: flex;

    .Logo {
      margin: 0 174px 0 0;

      a {
        text-decoration: none;

        .Img {
          width: 60px;
          height: 60px;
          background: no-repeat center / contain;
        }
      }
    }

    menu {
      display: flex;
      align-items: center;

      li {
        margin-right: 40px;

        a {
          text-decoration: none;
          font-size: 22px;
          line-height: 25px;
          position: relative;

          &:before {
            content: '';
            height: 2px;
            width: 0;
            background: #647DB7;
            position: absolute;
            left: 0;
            bottom: -5px;
          }

          &:hover:before {
            width: 100%;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .Right {
    display: flex;

    .Controls {
      display: flex;
      margin-left: 100px;

      .Buttons {
        display: flex;

        .SearchTrigger {
          width: 24px;
          height: 24px;
          background: url(../../images/icons/search-icon.svg) no-repeat center;
          cursor: pointer;
        }

        .SignIn {
          margin-left: 27px;

          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            padding-left: 24px;
            position: relative;
          }
        }


        .SignUp {
          margin-left: 28px;

          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            padding-left: 24px;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: -1px;
              width: 20px;
              height: 20px;
              background: url(../../images/icons/sign-up-icon.svg) no-repeat center / contain;
            }
          }
        }
      }
    }
  }

  .SearchContainer {
    display: none;
    position: absolute;
    top: 0;
    right: 38px;
    left: 260px;
    height: 100%;
    background: #fff;
    padding: 0 0 0 73px;

    .Search {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      position: relative;

      .InputBox {
        transform: translateX(50px);
        opacity: 0;
        display: flex;
        width: 100%;
      }

      &.Open .InputBox {
        opacity: 1;
        transform: translateX(0);
      }

      input {
        border: none;
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        margin: 0 20px 0 0;
      }

      .Icon {
        width: 50px;
        height: 50px;
        background: url(../../images/icons/search-mirror.svg) no-repeat center;
        margin-right: 13px;
      }

      .Close {
        transform: translateX(-50px);
        opacity: 0;
        font-size: 55px;
        line-height: 55px;
        width: 55px;
        text-align: center;
        cursor: pointer;
      }

      &.Open .Close {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}


/* .header .right .controls .buttons .sign-in a:before {content: ''; position: absolute; left: 0; top: 0; width: 21px; height: 20px; background: url(../images/icons/sign-in-icon.svg) no-repeat center / contain;} */


.Header .Left menu li a:before,
.Header .SearchContainer .Search .Close,
.Header .SearchContainer .Search .InputBox {
  @include transition;
}

@media only screen and (max-width: 1290px) {
  .Header .Left menu li a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1250px) {
  .Header .Left menu li a {
    font-size: 17px;
  }
}
