@mixin site-wrap {
  width: 100%;
  min-width: 990px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

@mixin transition {
  transition: all 0.2s ease-out;
}

@mixin first-and-last-margin-remove {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
