@import '../../../css/styleVariables';

.MainScreen {
  position: relative;
  padding: 50px 0 108px;

  .BgBigCircle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1261px;
    height: 1254px;
    background: url(../../../images/bg-big-circle-main-screen-course-item.svg) no-repeat
      (center / cover);
  }

  .BgSmallCircle {
    display: none;
    position: absolute;
    bottom: 31px;
    right: 0;
    width: 75px;
    height: 230px;
    background: url(../../../images/bg-small-circle-main-screen-course-item.svg) no-repeat
      (center / contain);
  }

  .SiteWrap {
    @include site-wrap;
    position: relative;
    max-width: none;
  }

  .Content {
    display: flex;

    .LeftSide {
      width: 60%;

      h1 {
        font-weight: 800;
        font-size: 72px;
        line-height: 88px;
        margin: 0 0 15px;
      }

      .CourseInfoBlitz {
        .CourseSpeaker {
          font-weight: 800;
          font-size: 22px;
          line-height: 27px;
          margin: 0 0 30px;

          a {
            text-decoration: none;
            @include transition;

            &:hover {
              color: #ff9776;
            }
          }
        }

        .TextWithIcons .Item {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
          padding: 0 0 0 64px;
          margin: 0 0 33px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: no-repeat center / contain;
          }

          &:last-child {
            margin: 0;
          }

          &.Donations:before {
            width: 42px;
            height: 42px;
            background-image: url(../../../images/icons/donations.png);
          }

          &.Calendar:before {
            width: 42px;
            height: 42px;
            background-image: url(../../../images/icons/calendar.png);
          }

          &.Online:before {
            width: 42px;
            height: 42px;
            background-image: url(../../../images/icons/internet.png);
          }

          &.Live:before {
            width: 42px;
            height: 42px;
            background-image: url(../../../images/icons/live.png);
          }
        }
      }
    }

    .RightSide {
      width: 40%;
      padding: 0 68px 0 0;
      display: flex;
      justify-content: flex-end;

      .CourseInfoExtended {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 300px;

        .Icons {
          display: flex;
          width: 600px;
          flex-wrap: wrap;
          justify-content: flex-end;
          transform: translateX(54px);
          margin: 0 0 20px;

          .Icon {
            height: 166px;
            width: 300px;
            background: no-repeat right center / contain;
            margin: 0 0 20px;

            &.Medium {
              height: 115px;
              width: 217px;
            }

            &.Small {
              height: 90px;
              width: 170px;
            }

            &.Sadhusanga {
              background-image: url(../../../images/icons/sadhusanga.svg);
            }

            &.BeforeShraddha {
              //width: 157px;
              //height: 115px;
              background-image: url(../../../images/icons/before_shraddha.svg);
            }

            &.Shraddha {
              //width: 125px;
              //height: 115px;
              background-image: url(../../../images/icons/shradha.svg);
            }

            &.Sadhusanga {
              //width: 155px;
              //height: 115px;
              background-image: url(../../../images/icons/sadhusanga.svg);
            }

            &.BhadjanaKriya {
              //width: 186px;
              //height: 115px;
              background-image: url(../../../images/icons/bhadjana-kriya.svg);
            }

            &.AnarthaNivritti {
              //width: 217px;
              //height: 115px;
              background-image: url(../../../images/icons/anartha-nivritti.svg);
            }

            &.Nishtha {
              //width: 125px;
              //height: 115px;
              background-image: url(../../../images/icons/nishtha.svg);
            }

            &.AnyStage {
              //width: 186px;
              //height: 115px;
              background-image: url(../../../images/icons/any-stage.svg);
            }
          }
        }

        .Place {
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          text-align: right;
          color: #6b6b6b;
          margin: 0 0 15px;
        }

        .Type {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          text-align: right;
          margin: 0 0 14px;
        }

        .BriefDescription {
          font-size: 18px;
          line-height: 26px;
          text-align: right;
          color: #6b6b6b;
        }
      }
    }
  }
}
