@import '../../../css/styleVariables';

.ForWhomScreen {
  //background: #404759;
  padding: 60px 0 60px;

  .SiteWrap {
    @include site-wrap;
    max-width: none;
  }

  h2 {
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    color: #c8d1e5;
    margin: 0 0 70px;
  }

  .List {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      list-style-type: none;
      position: relative;
      margin: 40px 0 0;

      &:nth-child(2),
      &:nth-child(1) {
        margin: 0;
      }

      &:nth-child(2n) {
        padding: 0 0 0 47px;
      }

      .Content {
        position: relative;
        padding: 0 0 0 70px;

        &:before {
          content: '';
          width: 38px;
          height: 29px;
          top: 4px;
          left: 3px;
          background: url(../../../images/icons/big-tick-for-list.svg) no-repeat (center / contain);
          display: block;
          position: absolute;
        }

        .StrongText {
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          //color: #FFF;
        }

        .Text {
          font-size: 18px;
          line-height: 26px;
          //color: #FFF;
        }
      }
    }
  }
}
