@import '../../../../css/styleVariables';

.Cell {
  padding: 0 14px;
  display: flex;

  a {
    text-decoration: none;
    display: flex;
    width: 100%;
  }


  &.Width50 {
    width: 50%;

    &:nth-child(n+3) {
      margin-top: 34px;
    }
  }

  &.Width33 {
    width: 33.333333%;

    &:nth-child(n+4) {
      margin-top: 34px;
    }
  }


  .TileItem {
    width: 100%;
    padding: 66px 37px 26px;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(74, 93, 160, 0.15);
    border-radius: 25px;
    position: relative;
    @include transition;


    a {
      display: flex;
      width: 100%;
      text-decoration: none;
    }

    &:hover {
      box-shadow: 0 4px 30px rgba(74, 93, 160, 0.3);
    }

    .Name {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #121212;
      margin-bottom: 9px;
      min-height: 54px;
    }

    .Author {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #4B5F96;
      margin-bottom: 18px;
    }

    .Location {
      font-size: 14px;
      line-height: 24px;
      color: #3E4E67;
      position: relative;
      max-width: 220px;
      padding: 6px 30px 6px 0;
      margin-bottom: 48px;

      span {
        position: relative;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        left: -37px;
        bottom: 0;
        background: #F4F7FF;
        z-index: 1;
      }
    }

    .Info .InfoItem {
      display: flex;
      padding: 0 175px 0 0;

      .InfoItemName {
        font-size: 14px;
        line-height: 24px;
        color: #303030;
        margin-right: 4px;
      }

      .InfoItemValue {
        font-size: 14px;
        line-height: 24px;
        color: #6B6B6B;

        &.Online {
          color: #411799;
        }
      }
    }

    .LocationLogo {
      position: absolute;
      right: 21px;
      bottom: 21px;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;

      .Logo {
        background: no-repeat center / contain;
      }
    }

    &.Vedi .LocationLogo .Logo {
      width: 106px;
      height: 115px;
      background-image: url(../../../../images/icons/vedi.svg);
    }

    &.BeforeShraddha .LocationLogo .Logo {
      width: 157px;
      height: 115px;
      background-image: url(../../../../images/icons/before_shraddha.svg);
    }

    &.Shraddha .LocationLogo .Logo {
      width: 125px;
      height: 115px;
      background-image: url(../../../../images/icons/shradha.svg);
    }

    &.Sadhusanga .LocationLogo .Logo {
      width: 155px;
      height: 115px;
      background-image: url(../../../../images/icons/sadhusanga.svg);
    }

    &.BhadjanaKriya .LocationLogo .Logo {
      width: 186px;
      height: 115px;
      background-image: url(../../../../images/icons/bhadjana-kriya.svg);
    }

    &.AnarthaNivritti .LocationLogo .Logo {
      width: 217px;
      height: 115px;
      background-image: url(../../../../images/icons/anartha-nivritti.svg);
    }

    &.Nishtha .LocationLogo .Logo {
      width: 125px;
      height: 115px;
      background-image: url(../../../../images/icons/nishtha.svg);
    }

    &.AnyStage .LocationLogo .Logo {
      width: 186px;
      height: 115px;
      background-image: url(../../../../images/icons/any-stage.svg);
    }
  }
}
