@import '../../css/styleVariables';

.PersonalAccountPage {
  padding: 80px 0 100px;

  .SiteWrap {
    @include site-wrap;

    .SiteWrap {
      @include site-wrap;
      padding: 0;
    }
  }

  .GoToTest {
    display: flex;
    margin: 40px 0 0;
    width: 217px;
    height: 67px;
    background: #647DB7;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    box-shadow: 0 8px 18px rgba(171, 182, 211, 0.75);
    border-radius: 30px;

    &:hover {
      background: #7D9EEA;
    }
  }

  .ProfileInfo {
    margin: 0 0 120px;

    .ProfileContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 369px;
      background: #FFFFFF;
      box-shadow: 0 4px 20px rgba(52, 65, 96, 0.1);
      border-radius: 25px;
      padding: 0 157px;
      position: relative;

      .Content {
        width: 100%;

        form {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;

          .ProfilePhoto {
            width: 226px;
            height: 226px;
            position: relative;
            background: url(../../images/account-default-photo.svg) no-repeat (center / contain);
            margin: 0 90px 0 0;
            flex-shrink: 0;

            input {
              display: none;
            }

            label {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              cursor: pointer;

              .Img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: no-repeat center / contain;
                border-radius: 50%;
              }
            }
          }

          .ProfileData {
            flex-grow: 1;
            display: flex;

            .ProfileDataLeft {
              width: 63%;
              padding: 0 75px 0 0;
            }

            .ProfileDataRight {
              width: 37%;
            }

            .DataItem {
              margin: 0 0 27px;
              display: flex;

              &:last-child {
                margin: 0;
              }

              .Key {
                font-size: 14px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #6B6B6B;
                margin: 0 15px 0 0;
                white-space: nowrap;
              }

              .Value {
                flex-grow: 1;

                .Text {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  display: flex;
                  align-items: center;
                }

                &.Password .Text {
                  font-size: 39px;
                  line-height: 2px;
                }

                input {
                  display: none;
                  width: 100%;
                  height: 24px;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                  background: rgba(239, 241, 245, 0.61);
                  border: 0.3px solid #E6EAEE;
                  box-sizing: border-box;
                  border-radius: 6px;
                  padding: 0 8px;

                  &:focus {
                    background: none;
                  }
                }
              }
            }
          }
        }
      }

      &.Edit .Content form .ProfileData .DataItem .Value {
        input {
          display: block;
        }

        .Text {
          display: none;
        }
      }

      .ProfileDelete {
        position: absolute;
        right: 31px;
        bottom: 25px;
        width: 24px;
        height: 24px;
        background: url(../../images/icons/delete-account-icon.svg) no-repeat center;
        cursor: pointer;
      }

      .Content {
        .ProfileEdit {
          position: absolute;
          top: 0;
          right: 0;
          width: 28px;
          height: 28px;
          background: url(../../images/icons/edit-account-icon.svg) no-repeat center;
          cursor: pointer;
        }

        .ProfileConfirm {
          display: none;
          top: 0;
          right: 0;
          position: absolute;
          width: 28px;
          height: 28px;
          cursor: pointer;

          input {
            display: none;
          }

          label {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url(../../images/icons/confirm-account-icon.svg) no-repeat center;
            cursor: pointer;
          }
        }
      }

      &.Edit .Content {
        .ProfileEdit {
          display: none;
        }

        .ProfileConfirm {
          display: block;
        }
      }
    }
  }

  .TestResult {
    margin: 0 0 160px;

    .Title {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin: 0 0 40px;
    }

    .TestResultContainer {
      min-height: 427px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px dashed #C8D1E5;
      box-sizing: border-box;
      border-radius: 25px;

      .Hint {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: #C8D1E5;
      }
    }
  }

  .RecommendedTopics {
    margin: 0 0 160px;

    .Title {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin: 0 0 40px;
    }

    .Hint {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #C8D1E5;

      p {
      }
    }

    .RecommendedTopicsList {
    }
  }

  .ConfirmDeletePopup {
    opacity: 0;
    visibility: hidden;
    width: 861px;
    padding: 56px 74px 53px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-radius: 25px;*/

    background: #FFFFFF;
    border: 0.5px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0 0 73px rgba(32, 32, 35, 0.1);

    &.Active {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }

    .Title {
      text-align: center;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      margin: 0 0 58px;
    }

    .Text {
      font-size: 18px;
      line-height: 26px;
      margin: 0 0 54px;
    }

    .Buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      .Button {
        text-decoration: none;
        display: block;

        &.Yes {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #647DB7;
          margin: 0 65px 0 0;
        }

        &.No {
          width: 217px;
          height: 51px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #647DB7;
          box-shadow: 0 0 34px rgba(70, 80, 116, 0.23);
          border-radius: 30px;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;

          &:hover {
            background: #7D9EEA;
          }
        }
      }
    }
  }

  .GoToTest {
    @include transition;
  }

  .ConfirmDeletePopup {
    @include transition;

    .Buttons .Button {
      @include transition;
    }
  }
}
