@import '../../css/styleVariables';

.PersonalAccountPage {
  padding: 80px 0 0;

  .SiteWrap {
    @include site-wrap;

    .SiteWrap {
      @include site-wrap;
      padding: 0;
    }
  }

  .GoToTest {
    display: flex;
    margin: 40px 0 0;
    width: 217px;
    height: 67px;
    background: #647db7;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 8px 18px rgba(171, 182, 211, 0.75);
    border-radius: 30px;

    &:hover {
      background: #7d9eea;
    }
  }

  .TestResult {
    margin: 0 0 160px;

    .Title {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin: 0 0 40px;
    }

    .TestResultContainer {
      min-height: 427px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px dashed #c8d1e5;
      box-sizing: border-box;
      border-radius: 25px;

      .Hint {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: #c8d1e5;
      }
    }
  }

  .RecommendedTopics {
    margin: 0 0 160px;

    .Title {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin: 0 0 40px;
    }

    .Hint {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #c8d1e5;

      p {
      }
    }

    .RecommendedTopicsList {
    }
  }

  .ConfirmDeletePopup {
    opacity: 0;
    visibility: hidden;
    width: 861px;
    padding: 56px 74px 53px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-radius: 25px;*/

    background: #ffffff;
    border: 0.5px solid #f1f1f1;
    box-sizing: border-box;
    box-shadow: 0 0 73px rgba(32, 32, 35, 0.1);

    &.Active {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }

    .Title {
      text-align: center;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      margin: 0 0 58px;
    }

    .Text {
      font-size: 18px;
      line-height: 26px;
      margin: 0 0 54px;
    }

    .Buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      .Button {
        text-decoration: none;
        display: block;

        &.Yes {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #647db7;
          margin: 0 65px 0 0;
        }

        &.No {
          width: 217px;
          height: 51px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #647db7;
          box-shadow: 0 0 34px rgba(70, 80, 116, 0.23);
          border-radius: 30px;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;

          &:hover {
            background: #7d9eea;
          }
        }
      }
    }
  }

  .GoToTest {
    @include transition;
  }

  .ConfirmDeletePopup {
    @include transition;

    .Buttons .Button {
      @include transition;
    }
  }
}
