.Top {
  display: flex;
  margin: 0 0 60px;

  .Search {
    position: relative;

    input {
      border: none;
      width: 522px;
      height: 54px;
      background: rgba(100, 125, 183, 0.07);
      border-radius: 29px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding: 0 70px 0 31px;

      &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
        color: #C5C5C5;
      }
    }

    button {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      width: 29px;
      height: 29px;
      background: url(../../../images/icons/search-blue.svg) no-repeat (center / contain);
      border: none;
    }
  }
}
