@import '../../../css/styleVariables';

.BannerNote {
  //background: #f7f5ef;
  background: #e6eaf1;
  margin: 0 0 100px;
  padding: 40px 0;

  &.MarginNone {
    margin: 0;
  }

  .SiteWrap {
    @include site-wrap;
  }

  .Content {
    display: flex;
    padding: 0 30px 0 80px;
    justify-content: center;

    .Image {
      flex-shrink: 0;
      width: 243px;
      height: 247px;
      background: no-repeat center / contain;
      margin: 0 70px 0 0;
    }

    .Info {
      display: flex;
      align-items: center;
      padding: 19px 0;

      .Icon {
        display: none;
        width: 53px;
        height: 165px;
        flex-shrink: 0;
        background: url(../../../images/icons/exclamation-mark.svg) no-repeat (center / contain);
        margin: 0 56px 0 0;
      }

      .Text {
        font-size: 20px;
        line-height: 28px;
        color: #343f55;
        font-weight: 500;

        p {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          font-weight: bold;
          color: #343f55;
        }
      }
    }
  }
}
