@import '../../../css/styleVariables';

.RecommendationsScreen {
  margin: 160px 0 120px;

  &.MarginBottomNone {
    margin-bottom: 0;
  }

  .SiteWrap {
    @include site-wrap;
    max-width: none;
  }

  h2 {
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    color: #C8D1E5;
    margin: 0 0 43px;
  }
}
