@import '../../../css/styleVariables';

.Quote {
  margin: 50px 0 50px;
  padding: 40px 0;
  font-size: 28px;
  line-height: 37px;
  background: #e2e7f1;
  //text-align: center;
  //@include first-and-last-margin-remove;

  .SiteWrap {
    @include site-wrap;
    max-width: 1196px;
  }
}
