@import '../../../css/styleVariables';

.Quote {
  margin: 0 0 30px;
  padding: 40px 0;
  font-size: 28px;
  line-height: 37px;
  background: #e2e7f1;
  font-weight: 500;
  //@include first-and-last-margin-remove;

  .SiteWrap {
    @include site-wrap;
    max-width: 1196px;
  }
}
