
@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('Montserrat-MediumItalic.woff') format('woff'), url('Montserrat-MediumItalic.ttf')  format('truetype'), url('Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
