@font-face {
    font-family: 'Kazimir Med';
    src: url('Kazimir-Medium.eot');
    src: url('Kazimir-Medium.eot?#iefix') format('embedded-opentype'),
        url('Kazimir-Medium.woff2') format('woff2'),
        url('Kazimir-Medium.woff') format('woff'),
        url('Kazimir-Medium.ttf') format('truetype'),
        url('Kazimir-Medium.svg#Kazimir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

