@import '../../../../css/styleVariables';

.TileItem {
  padding: 0 22px;
  flex-shrink: 0;
  //align-self: flex-start;
  align-self: stretch;
  height: auto;

  a {
    display: block;
    text-decoration: none;
    width: 100%;
  }

  figure {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    background: none;

    .ImgContainer .Img {
      background: no-repeat center / cover;
      width: 100%;
    }

    .ImgContainer .Img, figcaption .TagsBlocks .TagItem a {
      @include transition;
    }

    figcaption {
      .Title {
        .Text {
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
        }

        .Note {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .Description {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #7D9EEA;
        opacity: 0.75;
        margin-bottom: 5px;
      }

      .TagsBlocks {
        //display: flex;
        display: none;
        margin: 15px 0 15px;

        .TagItem {
          margin-right: 16px;

          a {
            border: 2px solid #7D9EEA;
            background: none;
            padding: 2px 6px 3px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #7D9EEA;
            text-decoration: none;

            &:hover {
              background: #7D9EEA;
              color: #FFFFFF;
            }
          }

          &:last-child {
            margin: 0;
          }
        }
      }

      .Time {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;

        span {
          font-weight: 600;
        }
      }
    }
  }

  &.TypeOne {
    width: 58%;
  }

  &.TypeTwo {
    width: 42%;
  }

  &.TypeOne figure .ImgContainer {
    padding: 66.4% 0 0;
    height: 100%;
    position: relative;
    overflow: hidden;

    .Img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &.TypeTwo figure {
    .ImgContainer {
      padding: 64.4% 0 0;
      margin-bottom: 12px;
      position: relative;
      overflow: hidden;

      .Img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    .Border {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #C4C4C4;

      &:before {
        content: '';
        position: absolute;
        left: -12px;
        bottom: 0;
        display: block;
        width: 12px;
        flex-shrink: 0;
        height: 9px;
        background: none;
        border-bottom: 1px solid #C4C4C4;
        border-left: 1px solid #C4C4C4;
        border-radius: 0 0 0 30px;
      }

      &:after {
        content: '';
        position: absolute;
        right: -12px;
        bottom: 0;
        display: block;
        width: 12px;
        flex-shrink: 0;
        height: 9px;
        background: none;
        border-bottom: 1px solid #C4C4C4;
        border-right: 1px solid #C4C4C4;
        border-radius: 0 0 30px 0;
      }
    }
  }


  &:hover figure .ImgContainer .Img {
    transform: scale(1.1);
  }

  &.TypeTwo figure {
    padding-bottom: 19px;
  }

  &.TypeOne figure figcaption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.005) 16.2%, rgba(0, 0, 0, 0.019) 30.1%, rgba(0, 0, 0, 0.042) 42%, rgba(0, 0, 0, 0.07) 52%, rgba(0, 0, 0, 0.104) 60.4%, rgba(0, 0, 0, 0.141) 67.3%, rgba(0, 0, 0, 0.18) 73%, rgba(0, 0, 0, 0.22) 77.7%, rgba(0, 0, 0, 0.259) 81.6%, rgba(0, 0, 0, 0.296) 85%, rgba(0, 0, 0, 0.33) 87.9%, rgba(0, 0, 0, 0.358) 90.7%, rgba(0, 0, 0, 0.381) 93.5%, rgba(0, 0, 0, 0.395) 96.5%, rgba(0, 0, 0, 0.4));
    padding: 30px 30px 30px;

    .Title {
      color: #ffffff;
      margin-bottom: 15px;
    }
  }

  &.TypeTwo figure figcaption .Title {
    color: #3c3c3c;
    margin-bottom: 20px;
  }


  &.TypeTwo figure figcaption .Time {
    color: #c4c4c4;
  }
}
