@import '../../../css/styleVariables';

.MainContent {
  margin: 0 0 30px;
  @include first-and-last-margin-remove;

  .SiteWrap {
    @include site-wrap;
    max-width: 750px;
    min-width: 750px;
  }
}
