@import '../../css/styleVariables';

.BlogArticleItemPage {
  padding: 0 0 120px 114px;
  counter-reset: number 0;

  .Top {
    margin: 0 0 60px;
    padding: 134px 0 60px;
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;

    .SiteWrap {
      @include site-wrap;
      max-width: 1196px;
    }

    h1 {
      font-weight: 800;
      font-size: 36px;
      line-height: 53px;
      text-transform: uppercase;
      margin: 0 0 22px;
    }

    .Info {
      margin: 0 0 30px;
      .InfoItem {
        display: flex;
        font-size: 16px;
        line-height: 19px;

        .Name {
          font-weight: bold;
          margin: 0 5px 0 0;
        }
        .Value {
        }
      }
    }

    .Author {
      display: flex;
      font-size: 20px;
      line-height: 23px;

      .Name {
        font-weight: bold;
        margin: 0 5px 0 0;
      }
      .Value {
      }
    }

    .ImgContainer {
      margin: 40px 0;

      img {
        width: 100%;
      }
    }
    .ArticleLead {
      font-size: 28px;
      font-weight: bold;
      line-height: 37px;
      margin: 40px 0;

      p {
        margin: 30px 0;

        @include first-and-last-margin-remove;
      }

      @include first-and-last-margin-remove;
    }
  }

  .Middle {
    .SiteWrap {
      @include site-wrap;
      max-width: 1196px;
    }

    .Content {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;

      p {
        margin: 0 0 30px;

        @include first-and-last-margin-remove;
      }

      img {
        width: 180%;
        margin: 30px 0;
        max-width: 1120px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      ul,
      ol {
        margin: 25px 0 25px 35px;
        li {
        }
      }
    }
  }

  .Bottom {
    margin: 60px 0 0;
    .SiteWrap {
      @include site-wrap;
      max-width: 750px;
      min-width: 750px;
    }
  }
}
