@import '../../../css/styleVariables';

.InfoScreen {
  margin: 108px 0 160px;

  .SiteWrap {
    @include site-wrap;
    display: flex;
    justify-content: center;
    max-width: none;
  }

  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1066px;
    font-weight: 500;

    .Icon {
      width: 177px;
      height: 177px;
      flex-shrink: 0;
      background: url(../../../images/icons/info-icon.svg) no-repeat (center / contain);
      margin: 0 139px 0 0;
    }

    .Text {
      p {
        font-size: 20px;
        line-height: 30px;
      }

      a {
        color: #ff9776;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
