@import '../../../css/styleVariables';

.Articles {
  padding: 0 0 40px;

  .Tile {
    display: flex;
    margin: 0 -22px 44px;
    flex-wrap: wrap;
    align-items: stretch;

    &.Reverse {
      flex-direction: row-reverse;
    }
  }
}
