@import '../../../css/styleVariables';

.QuestionFormBlock {
  background: #e6eaf1;
  padding: 60px 0 60px;

  .SiteWrap {
    @include site-wrap;
  }

  .Button {
    @include button;
    border: none;
    margin: 30px 0 0;
  }

  .Content {
    display: flex;

    .LeftSide {
      width: 45.5%;
      padding: 0 100px 0 83px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .Img {
        padding: 80% 0 0;
        width: 390px;
        background: no-repeat center / contain;
      }
    }

    .RightSide {
      width: 54.5%;

      .Title {
        margin: 0 0 30px;
        color: #343f55;
      }

      .StrongText {
        font-weight: bold;
        font-size: 45px;
        line-height: 45px;
        margin: 0 0 20px;
      }

      .MediumText {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        margin: 20px 0;
      }

      .Text {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        margin: 20px 0;
      }
    }
  }
}
